<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Pedidos</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' th:href='@{../css/cartao.css}'>
    <script th:src='@{../js/cartao.js}'></script>
</head>
<body>
  <div class="wrapper">
    <div class="container">
        <form action="">
            <h1>
                <i class="fas fa-shipping-fast"></i>
                Detalhes de envio
            </h1>
            <div class="name">
                <div>
                    <label for="f-name">Nome</label>
                    <input type="text" name="f-name">
                </div>
                <div>
                    <label for="l-name">Sobrenome</label>
                    <input type="text" name="l-name">
                </div>
            </div>
            <div class="street">
                <label for="name">Rua</label>
                <input type="text" name="address">
            </div>
            <div class="address-info">
                <div>
                    <label for="city">Numero</label>
                    <input type="text" name="city">
                </div>
                <div>
                    <label for="state">Complemento</label>
                    <input type="text" name="state">
                </div>
                <div>
                    <label for="zip">Cep</label>
                    <input type="text" name="zip">
                </div>
            </div>
            <h1>
              <i class="far fa-credit-card"></i> Pedido
          </h1>
          <div class="pedido">
              <div>
                <input type="checkbox" name="cafe1" class="cafe">
                <label for="cafe1" class="labelCafe1">Catuai Vermelho</label>
                <label for="quantidade1">Quantidade<input type="number" name="quantidade1" class="quantidade"></label>
              </div>
              <div>
                <input type="checkbox" name="cafe2" class="cafe">
                <label for="cafe2" class="labelCafe2">Catuai Amarelo</label>
                <label for="quantidade2">Quantidade<input type="number" name="quantidade2" class="quantidade"></label>
              </div>
              <div>
                <input type="checkbox" name="cafe3" class="cafe">
                <label for="cafe3" class="labelCafe3">Mundo Novo</label>
                <label for="quantidade3">Quantidade<input type="number" name="quantidade3" class="quantidade"></label>
              </div>
          </div>
          <div class="cc-info">
              
          </div>
            <h1>
                <i class="far fa-credit-card"></i> Informacoes de Pagamento
            </h1>
            <div class="cc-num">
                <label for="card-num">Numero do cartao</label>
                <input type="text" name="card-num">
            </div>
            <div class="cc-info">
                <div>
                    <label for="card-num">Validade</label>
                    <input type="text" name="expire">
                </div>
                <div>
                    <label for="card-num">CCV</label>
                    <input type="text" name="security">
                </div>
            </div>
            <div class="btns">
                <button>Comprar</button>
                <button><a href="../home">Voltar</a></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>